* {
    margin: 0;
    padding: 0;
}

.AdminDashboardContainer {
    border: 1px solid green;
    display: flex;
}

.ADMenueContainer {
    border: 1px solid blue;
    width: 20%;
}

.ADResultContainer {
    border: 1px solid yellow;
    width: 80%;
}